h1{                    
                     font-size:80px;
                      color:yellow;
} 
img{ 
               height;400px;
               width:auto;
}
#special{
          font-size:36PX;
          color:red;
}
